<p><strong>Añadir comentario:</strong></p>

	<form method="post" action="/quizes/<%= quizId %>/comments">
        <input type="text" id="comment" name="comment[texto]" value="" /><p></p>
		<button type="submit">Añadir</button>
	</form>