<p><h2><strong>Añadir comentario:</strong></h2></p>
	<form method="post" action="/quizes/<%= quizId %>/comments">
        <input type="text" id="comment" name="comment[texto]" placeholder="Escriba su comentario" /><p></p>
        <br />
		<button class= "añadir" type="submit">Añadir</button>
	</form>